.navbarModal {
	z-index: 10;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100vh;
	padding: 15px;
	padding-top: 28px;
	display: flex;
	flex-direction: column;
}

.navbarModal .headerSection {
	display: flex;
	justify-content: space-between;
}

.navbarModal .navLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;
}

.navbarModal .navLinksContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
	justify-content: center;
}

.navbarModal .navLinks .navbarLink {
	text-decoration: none;
	padding: 0 30px;
	box-sizing: border-box;
	color: #5c5c5c;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin: 10px 0;
}

.navbarModal .navLinks .navbarLink.active {
	color: #000;
	font-weight: bold;
}
