@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
	background-color: #fcfcfc;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	display: none;
}
